<!-- <form action=""> -->
<form name="loginForm"  style="margin-top: 100px;">
  <div class="container">

    <div class="form-group">
      <label for="user"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" class="form-control" class="form-control"  name="user" [(ngModel)]="formData.userName" required/>
       <!-- <div class="alert alert-danger" *ngIf="user.touched && user.invalid">   -->
         <!-- <p *ngIf="user.errors.required">UserName is required</p>  -->
        <!-- <p *ngIf="question.errors.minlength">Minimum length should be {{ question.errors.minlength.requiredLength }}</p> -->
        <!-- <p *ngIf="question.errors.maxlength">Maximum length should be 20</p> -->
       <!-- </div>  -->
      
      </div>
    <div class="form-group">
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="formData.password" required>
    </div>
    <!-- <div class="dropdown"  >
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" >
    Dropdown button
  </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" value="isAdmin">Admin</a>
        <a class="dropdown-item" value="isStudent">Student</a>
      </div>
    </div> -->
    <select name="profile" [(ngModel)]="selectedOption" style="width: 120px; height: 30px; text-transform: uppercase;">
        <option selected="selected" [value]="Select">Select Role</option>      
        <option value="isAdmin"><b>Admin</b></option>
        <option value="isStudent"><b>Student</b></option>
    </select>
    <button type="submit" (click)="checkLoginDetails()">Login</button>
    <button type="submit" (click)="register()">Register</button>
  </div>
</form>
<div>
  <router-outlet></router-outlet>
</div>