<!-- <div class="container">
  <form [formGroup]="StudentForm" (ngSubmit)="formDetails()"> -->
    <!-- <div class="form-group">
      <label for="question">Question </label>
      <input type="text" class="form-control" formControlName="question" [(ngModel)]="que"> -->
       <!-- <div class="alert alert-danger" *ngIf="question.touched && question.invalid"> 
        <p *ngIf="question.errors.required">Name is required</p>
        <p *ngIf="question.errors.minlength">Minimum length should be {{ question.errors.minlength.requiredLength }}</p>
        <p *ngIf="question.errors.maxlength">Maximum length should be 20</p>
      </div> -->
    <!-- </div>
    <div class="form-group">
      <label for="Answer">Answer </label>
      <input type="text" class="form-control" formControlName="answer">
    </div>
    <fieldset formGroupName="adress">
      <legend>Adress</legend>
      <div class="form-group">
        <label for="line1">Adress Line 1 </label>
        <input type="text" class="form-control" formControlName="line1">
      </div>
      <div class="form-group">
        <label for="city">City </label>
        <input type="text" class="form-control" formControlName="city">
      </div>
      <div class="form-group">
        <label for="state">State </label>
        <input type="text" class="form-control" formControlName="state">
      </div>
    </fieldset> -->
    <!-- <fieldset>
      <legend>Question |<button type="submit" (click)="addHobbies()">+</button></legend>
      <div formArrayName="hobbies" class="input-group" *ngFor="let hobbyControl of StudentForm.get('hobbies').controls; let i = index">
        Question {{i+1}} :&nbsp;&nbsp;<input type="text" class="form-control" [formControlName]="i" placeholder="Question"><br>
        <span style="margin-top: 10px;" class="input-group-addon glyphicon glyphicon-trash" (click)="deleteHobbies(i)">&nbsp;&nbsp;X</span>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary" style="margin-top: 50px;" >Submit</button> -->
     <!-- [disabled]="StudentForm.invalid"  -->
  <!-- </form>
</div>
<hr>
<br><br><br><br><br><br><br><br><br> -->




















<div class="container">
  <div style="text-align:center">
  <!-- <h2 style="background-color: rgba(255, 145, 186, 1);font-size: 2rem">Pie Chart</h2> -->
  <canvas id="doughnut" width="250" height="100" class="chartjs-render-monitor" style="display: block"></canvas>
  </div>

  <!-- <form name="questionForm">
    <div *ngIf="!queOne">
      <p>
        <b> Q 1 : Who is the Prime Minister of India ?</b>
      </p>
      <input type="text" name="pm" [(ngModel)]="formData.queOne" required/><br>
    </div>
    <div *ngIf="!queTwo">
      <p>
        <b> Q 2 : Click any one dropdown</b>
      </p>
      <select name="dropd" [(ngModel)]="formData.queTwo">
    <option selected="selected" [value]="Select">Select Option</option>
    <option value="first">First dropdown</option>
    <option value="second">Second dropdown</option>
    <option value="third">Third dropdown</option>
    <option value="fourth">Fourth dropdown</option>
    </select>
    </div>
    <div *ngIf="!queThree">
      <p>
        <b> Q 3 : Select the checkbox</b>
      </p>
      Checkbox : <input type="checkbox" name="chbx" [(ngModel)]="formData.queThree" />
    </div>
    <div *ngIf="!queFour">
      <p>
        <b> Q 4 : Select the radio button</b>
      </p>
      Radio : <input type="radio" name="rad" [(ngModel)]="formData.queFour" value="rad" />
    </div>
    <br>
    <button type="submit" (click)="questionDetails()">SUBMIT</button>
  </form> -->
    <!-- <div *ngFor="let newForm of studentForm ; let j = index" style="margin-top: 100px;">
    <h1 style="margin-left: 350px; color: coral"><b>This is {{j+1}} Form</b></h1>
     <div *ngFor="let firstForm of newForm.forms; let i = index;">
    <table >
      <thead >
        <tr>
          <th style="margin-left: 450px;">Question {{i+1}} : {{firstForm.Question}} ?</th>
        </tr>
      </thead>
      <form #formRef="ngForm" name="questionForm" class="container">
  <button style="margin-left: 180px; margin-top: 50px;margin-bottom: 50px;" class="btn btn-success" (click)="add()">Add New Question</button>&nbsp;&nbsp;&nbsp;&nbsp; -->
  <!-- <div *ngFor="let stud of studentForm; let i=index" class="col-sm-6"> -->
    <!-- <p style="margin-left: 450px;">Question {{i+1}} : {{firstForm.Question}} ?</p> -->
  <!-- <div *ngFor="let newForm of formRecord; let in=index" class="col-sm-6">
    <div class="form-group">
      
      <span class="queStyle">Answer {{in+1}} :</span><span><button class="btn btn-danger" style="float:right;margin-right:-315px;margin-top:33px;width:90px;" (click)="clear(in)">X (Clear)</button></span> 
      <input type="text" class="inputType" [(ngModel)]="formRecord[in].Question" name="name{{in}}" class="form-control" #name="ngModel" placeholder="Question" required />
        
         <span class="queStyle">Answer {{in+1}} :</span> 
        <input type="text" class="inputType" [(ngModel)]="formRecord[in].answer" name="name{{in}}" class="form-control" #name="ngModel" placeholder="Answer" required /> 
    </div>
    <br /> -->
  <!-- </div> -->
  <!-- </div>
</form> -->
      <!-- <input type="text" [(ngModel)]="formData{{i}}.answer" name="answer" class="form-control" placeholder="Answer {{i+1}}" required />  -->
    <!-- </table>
    </div> 
  </div>
  <button type="submit" style="margin-left: 650px; margin-top: 50px;" (click)="questionDetails()" class="btn btn-success">SUBMIT</button>  -->


  <form #formRef="ngForm" name="questionForm" style="margin-top:-350px;" >
   <!-- <button style="margin-left: 180px; margin-top: 50px;margin-bottom: 50px;" class="btn btn-success" (click)="add()">Add New Question</button>&nbsp;&nbsp;&nbsp;&nbsp;  -->
  <!-- <div *ngFor="let stud of studentForm; let i=index" class="col-sm-6"> -->
    <!-- <p style="margin-left: 450px;">Question {{i+1}} : {{firstForm.Question}} ?</p> -->
  <div *ngFor="let newForm of formRecord; let in=index" class="col-sm-6">
    <div class="form-group">
      
       <!-- <span class="queStyle">Answer {{in+1}} :</span><span><button class="btn btn-danger" style="float:right;margin-right:-315px;margin-top:33px;width:90px;" (click)="clear(in)">X (Clear)</button></span> 
       <input type="text" class="inputType" [(ngModel)]="formRecord[in].Question" name="name{{in}}" class="form-control" #name="ngModel" placeholder="Question" required />   -->
       Question {{in+1}} : {{newForm.Question}}
       <br> <br> 
        
         <span class="queStyle">Answer {{in+1}} :</span> 
        <input type="text" class="inputType" [(ngModel)]="formRecord[in].Answer" name="name{{in}}" class="form-control" #name="ngModel" placeholder="Answer" required /> 
    </div>
    <br />
  <!-- </div> -->
  </div>
<button *ngIf = "insideForm.length >= 1"   type="submit" style="margin-left: 0px; margin-top: 250px;" (click)="questionDetails()" class="btn btn-success">SUBMIT</button>
</form>
<!-- <div *ngIf="formRecord.length < 1">
  <h1>All The Questions are field</h1>
</div> -->
</div>
